Jupiter Notebook for Groupwork in AA 20224

Import Libaries

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

Load and Explore Data:

In [10]:
#data_path = ".\Data\"

charging_data = pd.read_csv(r'Data\charging_sessions.csv')
weather_data = pd.read_csv(r'Data\weather_burbank_airport.csv')

#check column names, typers and null values
print("charging info")
charging_data.info()
print("weather info")
weather_data.info()

# Check fist rows
print("charging head")
charging_data.head()
print("weather head")
weather_data.head()

charging info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66450 entries, 0 to 66449
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        66450 non-null  int64
 1   id                66450 non-null  object
 2   connectionTime    66450 non-null  object
 3   disconnectTime    66450 non-null  object
 4   doneChargingTime  62362 non-null  object
 5   kWhDelivered      66450 non-null  float64
 6   sessionID         66450 non-null  object
 7   siteID            66450 non-null  int64
 8   spaceID           66450 non-null  object
 9   stationID         66450 non-null  object
 10  timezone          66450 non-null  object
 11  userID            49187 non-null  float64
 12  userInputs        49187 non-null  object
dtypes: float64(2), int64(2), object(9)
memory usage: 6.6+ MB
weather info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29244 entries, 0 to 29243
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   city                     29244 non-null  object
 1   timestamp                29244 non-null  object
 2   temperature              29219 non-null  float64
 3   cloud_cover              29224 non-null  float64
 4   cloud_cover_description  29224 non-null  object
 5   pressure                 29236 non-null  float64
 6   windspeed                29158 non-null  float64
 7   precipitation            29244 non-null  float64
 8   felt_temperature         29218 non-null  float64
dtypes: float64(6), object(3)
memory usage: 2.0+ MB
charging head
weather head

,city,timestamp,temperature,cloud_cover,cloud_cover_description,pressure,windspeed,precipitation,felt_temperature
0,Burbank,2018-01-01 08:53:00,9.0,33.0,Fair,991.75,9.0,0.0,8.0
1,Burbank,2018-01-01 09:53:00,9.0,33.0,Fair,992.08,0.0,0.0,9.0
2,Burbank,2018-01-01 10:53:00,9.0,21.0,Haze,992.08,0.0,0.0,9.0
3,Burbank,2018-01-01 11:53:00,9.0,29.0,Partly Cloudy,992.08,0.0,0.0,9.0
4,Burbank,2018-01-01 12:53:00,8.0,33.0,Fair,992.08,0.0,0.0,8.0

Check and handle missing Data

In [11]:
##Missing Data
#Identify missing data
charging_missing_data = charging_data.isnull().sum()
charging_missing_data[charging_missing_data > 0]

weather_missing_data = weather_data.isnull().sum()
weather_missing_data[weather_missing_data > 0]

#Handle missing vlues

temperature                25
cloud_cover                20
cloud_cover_description    20
pressure                    8
windspeed                  86
felt_temperature           26
dtype: int64

In [ ]:
##Errorous Data
#Outliers
#Inconsistancies

##Final Review

##data visualisation
#sns.histplot(data=charging_data, x='connectionTime', bins=30, kde=True)
#plt.title("Distribution of Charging Session Durations")
#plt.xlabel("Duration (minutes)")
#plt.ylabel("Frequency")
#plt.show()